@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/breakpoints" as breakpoints;

$size: 1.75rem;
$darkColor: #475547;
$lightColor: #c8c8c8;
$transition: all 0.3s;
$shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
  rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

.toggle {
  position: relative;
  & > input {
    display: none;
    & + label {
      display: block;
      width: $size * 2;
      height: $size;
      background: rgba($lightColor, 0.5);
      border-radius: calc($size / 2);
      box-shadow: $shadow;
      cursor: pointer;
      transition: $transition;
      &:before {
        content: "☀";
        box-shadow: $shadow;
        display: block;
        width: $size;
        height: $size;
        @include utilities.flexbox-params(flex, center, center);
        border-radius: 50%;
        background: $lightColor;
        position: relative;
        left: 0;
        transition: $transition;
      }
    }
    &:checked {
      & + label {
        background: rgba($darkColor, 0.5);
        &:before {
          content: "☽";
          left: $size;
          background: $darkColor;
        }
      }
    }
  }
}
