@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/breakpoints" as breakpoints;

.about {
  width: 100%;
  position: relative;
  overflow-y: scroll;
  &__content {
    width: 100%;
    height: auto;
    overflow: hidden;
    @include utilities.flexbox-params(flex, auto, auto);
    flex-direction: column;
    gap: 20vh;
  }
  &__title {
    width: 100%;
    @include utilities.flexbox-params(flex, center, center);
    gap: 2rem;
    &Img {
      width: 7rem;
      height: 7rem;
      border: 1px solid colors.$border-default;
      border-radius: 50%;
      @include utilities.flexbox-params(flex, center, center);
      @include breakpoints.medium {
        width: 5.5rem;
        height: 5.5rem;
      }
    }
  }
  &__description,
  &__hobbies,
  &__skills {
    width: 100%;
    min-height: 600px;
    position: relative;
    top: 2;
    & h1 {
      text-align: center;
    }
  }
  &__description {
    padding-top: 6rem;

    & p {
      font-size: 20px;
      margin: 0 auto;
      padding-top: 6rem;
      width: 100%;
      max-width: 65rem;
      transition: all 0.6s ease-in-out;
      text-align: justify;
      @include breakpoints.medium {
        font-size: 17px;
      }
    }
  }
  &__hobbies {
    &Cards {
      width: 100%;
      margin-top: 6rem;
      display: grid;
      @include utilities.grid-params(
        grid,
        repeat(auto-fit, minmax(10rem, 20rem)),
        3rem,
        6rem
      );
      justify-content: center;
      @include breakpoints.small {
        gap: 4rem;
      }
    }
    &Image {
      width: 14rem;
      margin: 0 auto;
      & > img {
        width: 100%;
      }
      @include breakpoints.medium {
        width: 10rem;
      }
    }
    &Description {
      margin-top: 3rem;
      @include breakpoints.medium {
        & p {
          font-size: 12px;
        }
      }
    }
  }
  &__skills {
    &Container {
      padding: 10rem 0 20rem 0;
      @include breakpoints.medium {
        padding-bottom: 10rem;
      }
    }
    &Parallax {
      overflow: hidden;
      letter-spacing: -2px;
      line-height: 0.8;
      margin-bottom: 5rem;
      white-space: nowrap;
      display: flex;
      flex-wrap: nowrap;
      @include breakpoints.medium {
        margin-bottom: 3rem;
      }
      & img {
        width: 20rem;
        margin-left: 1rem;
        filter: brightness(0.8);
        opacity: 0.9;
        &:hover {
          opacity: 1;
          filter: brightness(1);
        }
        @include breakpoints.medium {
          width: 10rem;
        }
      }
    }
    &Scroller {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 200px;
      display: flex;
      white-space: nowrap;
      display: flex;
      flex-wrap: nowrap;
      & > span {
        display: block;
        margin-right: 30px;
      }
    }
  }
}
