@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/typography" as typography;

.title {
  & h1,
  h3 {
    color: colors.$text;
    font-family: typography.$primary;
  }
  & h1 {
    font-size: 65px;
    line-height: 70px;
    // letter-spacing: 6px;
    font-weight: 100;
  }
  & h3 {
    font-size: 25px;
    line-height: 35px;
    // letter-spacing: 4px;
    font-weight: 50;
    color: colors.$primary;
  }
}
