@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/typography" as typography;

.button {
  width: auto;
  height: auto;
  border-width: 2px;
  border-style: solid;
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease-out;
  @include utilities.flexbox-params(flex, center, center);
  gap: 0.5rem;
}
