@use "/src/styles/base/colors" as colors;
@use "/src/styles/base/utilities" as utilities;
@use "/src/styles/base/breakpoints" as breakpoints;
@use "/src/styles/base/typography" as typography;

$heightCard: 22.3rem;
$heightCardMedium: 21.5rem;

$heightImageCard: 14rem;
$heightImageCardMedium: 13.5rem;

$heightDetailCard: 8.3rem;
$heightDetailCardMedium: 8rem;

.card {
  position: relative;
  border: 1px solid colors.$border-default;
  border-radius: 6px;
  width: 100%;
  height: $heightCard;
  text-align: start;
  & > div:first-child {
    border-radius: 5px;
    overflow: hidden;
  }
  @include breakpoints.medium {
    height: $heightCardMedium;
  }
  @media (hover: hover) {
    &:hover {
      border-color: transparent;
      &::before,
      &::after {
        content: "";
        position: absolute;
        top: -4px;
        left: -4px;
        background: linear-gradient(
          90deg,
          colors.$primary--light,
          rgba(128, 128, 128, 0.116),
          colors.$primary--dark
        );
        background-size: 400%;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        z-index: -1;
        animation: animate 6s linear infinite;
      }
      & .card__image {
        filter: grayscale(0);
        transform: scale(1.02);
      }
    }
    @keyframes animate {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 100% 0;
      }
      100% {
        background-position: 0 0;
      }
    }
    &::after {
      filter: blur(40px);
      opacity: 0.5;
    }
  }
  &__image {
    width: 100%;
    height: $heightImageCard;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.7);
    transition: 0.4s;
    @include breakpoints.medium {
      height: $heightImageCardMedium;
    }
  }
  &__info {
    width: 100%;
    height: $heightDetailCard;
    padding: 4%;
    @include utilities.flexbox-params(flex, auto, space-between);
    flex-direction: column;
    position: relative;
    @include breakpoints.medium {
      height: $heightDetailCardMedium;
    }
    &Main {
      // border: 1px solid red;
      @include utilities.grid-params(grid, 1.8fr 0.2fr, auto, auto);
      // @include utilities.flexbox-params(flex, center, auto);
      & > div {
        width: 100%;
      }

      & img {
        height: 2rem;
      }
    }
    &Company {
      font-size: 12px;
      margin-bottom: 12px;
      margin-top: 0.08rem;
      @include breakpoints.medium {
        font-size: 9px;
        margin-bottom: 10px;
      }
    }
    & > div:last-child {
      width: 100%;
      height: auto;
      min-height: 28.5px;
      @include utilities.grid-params(grid, 1.5fr 0.5fr, 1rem, auto);
      @include breakpoints.medium {
        min-height: 22px;
      }
    }
    &Status {
      position: absolute;
      top: -10%;
      right: 3%;
      min-width: 5rem;
      background-color: #c2fbd7;
      box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
        rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
        rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
        rgba(44, 187, 99, 0.15) 0 16px 32px;
      padding: 0.2rem 0.5rem;
      font-size: 11px;
      border-radius: 10px;
      text-align: center;
      color: green;
      letter-spacing: 0;
    }
    &Tech {
      @include utilities.flexbox-params(flex, auto, auto);
      flex-wrap: wrap;
      & > p {
        font-size: 9px;
        text-transform: capitalize;
        @include breakpoints.medium {
          font-size: 8px;
        }
      }
    }
    &Icons {
      @include utilities.flexbox-params(flex, auto, flex-end);
      gap: 0.5rem;
    }
  }
}
