// Main
$primary: #00c040;

// Light
$primary--light: #7ccf00;
$bg--light: #f3ffe4;
$text-primary--light: #000000;
$text-secondary--light: #666666;

//Dark
$primary--dark: #00c040;
$bg--dark: #171b1e;
$text-primary--dark: #ffffff;
$text-secondary--dark: #b1b0b0;
