// Main
$primary: #00c040;
$border-default: #7979794f;

// Light
$primary--light: #7ccf00;
$bg--light: #f3ffe4;
$text-primary--light: #000000;
$text-secondary--light: #666666;
$sidebar-shadow--light: #0000001a;
$card-bg--light: #f9f9f9;

//Dark
$primary--dark: #00c040;
$bg--dark: #171b1e;
$text-primary--dark: #ffffff;
$text-secondary--dark: #b1b0b0;
$sidebar-shadow--dark: #7f7f7f1a;
$card-bg--dark: #121212;
