@use "./colors" as colors;
@use "./typography" as typography;
@import "./theme";

*,
html,
body {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  letter-spacing: 2px;
  font-family: typography.$secondary20;
  user-select: none;
  scroll-behavior: smooth;
  overflow: overlay;
}

input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a {
  cursor: pointer;
  transition: 0.4s;
}

// CUSTOM-SCROLLBAR
body::-webkit-scrollbar {
  width: 4px;
}
// body::-webkit-scrollbar-track {
//   background: #ffffff;
// }
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #a7a0a1;
}
body::-webkit-scrollbar-button {
  display: none;
}
